html {
      height: 100%;
      overflow: hidden;
  }

  body {
      margin: 0;
      padding: 0;
      transform-style: preserve-3d;
      perspective: 1px;
      height: 100%;
      width: 100%;
      background-image: url('./images/soccerField.jpg');
      overflow-x: hidden;
      overflow-y: scroll;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Graduate', cursive;
    letter-spacing: 4px;
  }
  
  .parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 20px;
    z-index: -1;
    background-image: url('./images/angryCat.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .content {
    height: 200vh;
    display: flex;
    justify-content: center;
    background-image: url('./images/angryCat.jpg');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    margin: 0;
    background-size: 100%;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 60px "Lato", sans-serif;
    color: #111;
    text-align: center;
    justify-content: center; 
    margin: 0;
    padding: 0;
  }

  p {
    text-align: center;
    justify-content: center; 
    margin: 0;
    padding: 20px;
    font: 20px;
    font-weight: 400;
  }

  .info {
    margin:0;
    padding:0;
    color:black;
    background:rgba(255,255,255,0.2);
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    font: 20px 'Lato', sans-serif;
    text-align: center;
  }


  