<div>
<div>  <button class='mainmenubtn'> Rules </button></div>
  <div>
    <rules ng-hide="" />
  </div>
<div>  <button class='mainmenubtn'> Login </button></div>
  <div>
    <log-in ng-hide="" />
  </div>
<div>  <button class='mainmenubtn'> Logout </button></div>
<div>  <button class='mainmenubtn'> Sign Up </button></div>
  <div>
    <sign-up ng-hide="" />
  </div>
<div>  <button class='mainmenubtn'> Leaderboard </button></div>
<div>  <button class='mainmenubtn'> Join Game </button></div>
</div>
