<div>
  <div>  
    <input type="button" value="Rules" ng-click="$ctrl.toggleRules()"/>
    <div ng-if="$ctrl.showRules">
      <rules />
    </div>
  </div>
  <div>  
    <input type="button" value="Login" ng-click="$ctrl.toggleLoginForm()"/>
    <div ng-if="$ctrl.showLoginForm">
      <log-in />
    </div>
<div>  <button class='mainmenubtn'> Logout </button></div>
  <div> 
    <input type="button" value="Signup" ng-click="$ctrl.toggleSignUpForm()"/>
    <div ng-if="$ctrl.showSignUpForm">
      <sign-up />
    </div>
<div>  <button class='mainmenubtn'> Leaderboard </button></div>
<div>  <button class='mainmenubtn'> Join Game </button></div>
</div>


<!-- Do y'all wanna add socket-based lobby chat? should be pretty easy. -->